<div ng-hide="loaded"  class="alert alert-info" align="center">Loading...</div>
<div ng-show="loaded">
<div class="row">
	<div class="col-sm-3">
	<h3><div>{{questionText}}</div></h3>
	</div>
</div>
<div class="row">
	<div class="col-sm-3">
		<span>{{question.questionText}}</span><button class="btn btn-info"  ng-click="speakQuestion()">Listen</button><span><h3 style="color: gray;">{{result}}</span>
		<h3><div>{{chooseText}}</div></h3>
		<table class="table table-bordered table-striped" width="100%">
			<tbody>
				<tr ng-repeat="answer in question.answers">
					<td width="20%" >{{answer.answerText}}</td>	
					<td style="width: 5%; text-align: center;">
						<button class="btn btn-mini btn-success"    ng-click="chooseAnswer(answer)">Choose</button>
					</td>
					<td style="width: 15%; text-align: center;" >
						<div  ng-bind-html="answer.result">{{answer.result}}</div>
					</td>
				</tr>
			</tbody>
		</table>
</div>
</div>
<div class="row">
		<div class="alert alert-info">
			<h2>{{points}}&nbsp;Points</h2>
		</div>
</div>
<div class="row">	
		<div align="right">
			<button class="btn btn-primary"    ng-click="getQuestionAndAnswers(question.seq+1)">Next Question</button>
		</div>
</div>